<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>780679870905-68o5dnfkpd574179bqfjce2l5thb7317.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780679870905-68o5dnfkpd574179bqfjce2l5thb7317</string>
	<key>API_KEY</key>
	<string>AIzaSyBDvkMNSXrzZE5cHm-l2y8Aa7zaS7IZexY</string>
	<key>GCM_SENDER_ID</key>
	<string>780679870905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabriel.CrudFirestore</string>
	<key>PROJECT_ID</key>
	<string>crudfirestore-c9a2d</string>
	<key>STORAGE_BUCKET</key>
	<string>crudfirestore-c9a2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780679870905:ios:7c6d27f4f653ebad</string>
	<key>DATABASE_URL</key>
	<string>https://crudfirestore-c9a2d.firebaseio.com</string>
</dict>
</plist>